- 문자열, 리스트, 튜플 등에서 뺄셈 연산자를 직접 사용하는 것은 지원되지 않는다.

- 나눗셈 연산자(/, //)는 두 수를 나누는 연산자입니다. 첫번째 나눗셈 연산자는 항상 float 형식으로 반환되며, 두번째 나눗셈 연산자는 항상 int형으로 반환됩니다. //는 내림입니다. 음수의 경우 헷갈릴 수 있으니 아래 예제를 통해 확인해주세요.

In [1]:
a = 10
b = 2
print(a / b) # 결과 5.0
print(a // b) # 결과 5

5.0
5

In [2]:
a = -5
b = 2
print(a / b) # 결과: -2.5
print(a // b) # 결과: -3

-2.5
-3

In [ ]:
# 0으로 나누는 경우 주의
z = 0
x / z # ZeroDivisionError 발생

In [ ]:
# 또한 float 형으로 반환되는 경우 아래처럼 소숫점 2번째 자리까지 출력하는 구문을 많이 사용하니 기억해두세요.
a = 10
b = 3
divide = a / b
print(f'{a} ÷ {b} = {divide:.2f}')  # 결과: 10 ÷ 3 = 3.33

In [3]:
# - 부호는 가장 나중에 붙는다!
-2 ** 2

-4