In [1]:
# 1. 함수 만들어 보기

def test(): # 함수 활성화 준비 완료
    x = 10
    y = 20
    print(x, y)

In [2]:
# 2. 들여쓰기
def my_function():
    print('1')  # 4칸을 띄우는 것 -> 함수의 본문을 적는 것
    print('2')
    print('3')

# 함수의 실행
my_function()   # 실행을 할때는 def와 :은 필요없다. -> 본문이 실행된다

1
2
3

In [5]:
def my_function():
    print('1')
    print('2')
print('3')

my_function()

3
1
2

In [ ]:
# 디스코드에 || 아무말 || 라고 하면 블라인드 처리해서 올릴 수 있음

In [6]:
def function(x, y):
    z = x + y
    return z

print("function(10,9)=", function(10,9))

function(10,9)= 19

In [ ]:
# 외부에서 호출할 때에는 함수명(parameter, 매개변수, 인자)
def function(x, y):
    z = x + y
    return z

function(10, 20)

# 함수의 본문을 아직 생각하지 못했다면?
def function():
    pass

In [9]:
def function(x, y):
    z = x + y
    return z

# 1. return을 함수 내에 지정하지 않았을 때
print("function(10,9)=", function(10,9))

# 2. print()문을 사용하지 않았을 때
function(10, 9)

# 함수 내부에는 print문 안쓰는게 좋다!

function(10,9)= 19

19

In [ ]:
# 함수는 호출이 되어야만 의미가 있다
def f():
    print(1 / 0)

print('hello')

![이름](https://paullabworkspace.notion.site/image/https%3A%2F%2Fprod-files-secure.s3.us-west-2.amazonaws.com%2F579fe283-28aa-489d-ae65-d683304becfc%2Ff347d29b-b800-46de-9866-f86c44ccdae6%2FUntitled.png?table=block&id=ca9f9ace-37b0-411d-8562-8427c9c33706&spaceId=579fe283-28aa-489d-ae65-d683304becfc&width=2000&userId=&cache=v2)

In [13]:
# 입력 매개변수가 없고 반환값도 없는 함수
def simple_function():
    print('hello world')

# 함수 호출
# print(simple_function())    # hello world가 출력되고 반환값이 없기에 None값 출력
simple_function()

hello world

In [12]:
# 파라미터가 없고, 반환값은 있는 함수
def give_me_five():
    return 5

result = give_me_five() # 매개변수와 상관 없이 반환된 값이 5 이므로 result = 5
print(result) # result값은 5 이므로 5를 출력

5

In [18]:
# 입력 매개변수가 있고, 반환값은 없는 함수
def greeting(name):
    print(f'Hello, {name}!')

# 함수 호출
greeting('Licat')   # Hello, Licat!
print(greeting('Licat'))    # print()문이 없어서 None값 출력x

Hello, Licat!
Hello, Licat!
------------------------ None

In [19]:
# 입력 매개변수가 있고, 반환 값이 있는 함수
def add_numbers(x, y):
    sum = x + y
    return sum

# 함수 호출
result = add_numbers(5, 3)
print(result)  # 출력: 8

8

* 파라미터는 함수를 정의할 때 사용되는 변수

    ```def my_function(x, y):
    return x + y``` 에서 x와 y
* 아규먼트는 함수를 호출할 때 전달하는 실제 값

    ```result = my_function(5, 3)``` 에서 5와 3

In [23]:
# 파라미터의 기본 사용
def f(a, b, c):
    print(a, b, c)

f(100, 200, 300)
f(a=100, b=200, c=300) # 출력: 100 200 300  => 키워드 인자 활용
f(c=300, a=100, b=200) # 출력: 100 200 300  => 키워드 인자 활용

100 200 300
100 200 300
100 200 300

In [24]:
# 기본 값을 가진 파라미터
def f(a=10, b=20, c=30):
    print(a, b, c)

f() # 출력: 10 20 30
f(100, 10) # 출력: 100 10 30
f(a=100, b=200, c=300) # 출력: 100 200 300
f(c=300, a=100, b=200) # 출력: 100 200 300

10 20 30
100 10 30
100 200 300
100 200 300

In [25]:
# 잘못된 예시
# def f(a=10, b=20, c):
#     print(a, b, c)  # error
# 올바른 예시
def f(a, b=20, c=10):
    print(a, b, c)

f(100, 10)
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

SyntaxError: non-default argument follows default argument (<ipython-input-25-6646121d2c7c>, line 2)

In [26]:
# 1.4.1 컨밴션 자료형을 아규먼트로 넣었을 때
def add_element(my_list):
    my_list.append(1)

a = [2, 3, 4]
add_element(a)
print(a)  # 출력: [2, 3, 4, 1]

[2, 3, 4, 1]

In [27]:
def add_element(my_list):
    my_list.append(1)
    print(id(my_list)) # 출력: 135115033605760

a = [2, 3, 4]
add_element(a)
print(id(a)) # 출력: 135115033605760
print(a)  # 출력: [2, 3, 4, 1]

137296231264448
137296231264448
[2, 3, 4, 1]

In [29]:
def add_element(my_list):
    my_list = 10
    print(id(my_list)) # 출력: 135115442078224

a = [2, 3, 4]
add_element(a)
print(id(a)) # 출력: 135115029248768
print(a)  # 출력: [2, 3, 4]

137297500799504
137296231253568
[2, 3, 4]

In [30]:
# 권장되지 않는 기본값
def append_to_list(value, lst=[]):
    lst_update = lst    # 추천!
    lst.append(value)
    return lst # 예상치 못한 결과가 발생할 수 있습니다.

In [31]:
append_to_list(1) # 출력: [1]

[1]

In [32]:
append_to_list(2) # 출력: [1, 2], 그러나 결과가 [2]가 나올것으로 예상할수도 있습니다.

[1, 2]

In [33]:
# 권장 방법
def append_to_list(value, lst=None):
    if lst is None:
        lst = []
    lst.append(value)
    return lst

In [34]:
append_to_list(1)

[1]

In [35]:
append_to_list(2)

[2]

In [1]:
# 지역 변수 사용 예시
def f():
    a = 1   # 이 변수는 f() 내에서만 정의됨
    print(a)  # 출력: 1

f()
print(a)  # error: a는 f 함수 내부에서만 정의되었습니다.

1

NameError: name 'a' is not defined

In [3]:
def f():
    a = 1
    b = 100
    print(locals()) # 출력: {'a': 1}

f()

{'a': 1, 'b': 100}

In [6]:
# 지역변수 확인은 locals()
def f():
    a = 1
    b = 'hello'
    def ff():   # 함수 자체도 지역변수가 될 수 있음
        pass
    print(locals()) # 출력: {'a': 1, 'b': 'hello', 'ff': <function f.<locals>.ff at 0x7a46e99d2c20>}

f()

{'a': 1, 'b': 'hello', 'ff': <function f.<locals>.ff at 0x7fcc73f99bd0>}

In [7]:
# global
a = 100

def f():
    global a
    a = a + 1

f()
print(a)  # 출력: 101, 함수 f 내에서 전역 변수 a가 수정되었습니다.

101

In [9]:
a = 100
def f():
    a = a + 1 # error

f()
print(a)

UnboundLocalError: local variable 'a' referenced before assignment

In [12]:
a = 100

def f():
    a = 1000
    print(a) # 출력: 1000

f()

1000

In [14]:
a = 100
def f():
    # a = a + 1 # error
    return a+1

f()

101

In [15]:
# global을 하면 함수가 얼만큼 중첩되어 있건 최상단에 있는 a를 바라봅니다.
a = 10
def f():
    a = 100
    print(a)
    def ff():
        a = 1000
        print(a)
        def fff():
            global a
            print(a)
        fff()
    ff()
f()
print(a)

100
1000
10
10

In [ ]:
# 임시로 함수를 작성할 때
# TODO 어떠한 일을 해야 합니다.
def my_function():
    pass

# Built in function(내장 함수)

In [16]:
# 1. all, any
# all은 마치 any와 비슷하다
# 모두 다 True여야 True 반환
all([True, True, True]) # 출력: Ture
all([True, True, False]) # 출력: False
all([1, 1, 1, 0]) # 출력: False
all([1, 0, 1, 1]) # 출력: False
all([1, 100, 10, -1]) # 출력: True

True

In [17]:
# 하나라도 True이면 True이다.
any([True, False, False]) # 출력: True
any([False, False, False]) # 출력: False

False

# map
* map() 함수는 기존의 리스트(또는 튜플)의 모든 요소에 특정 함수를 적용한 결과를 map 객체 형태로 반환하는 함수입니다. map 객체는 다시 list()를 이용해 리스트 형태로 변환할 수 있습니다.

In [18]:
# 첫번째 방법
def 제곱(x):
    return x ** 2
list(map(제곱, [1, 2, 3, 4])) # 출력: [1, 4, 9, 16]

[1, 4, 9, 16]

In [19]:
# 두번째 방법
list(map(lambda x : x ** 2, [1, 2, 3, 4])) # 출력: [1, 4, 9, 16]

[1, 4, 9, 16]

# filter
* filter() 함수는 순회할 수 있는 객체의 요소 중 특정 조건을 만족하는 요소만을 선택하여 반환합니다. 반환 값은 filter 객체 형태로 제공되며, 이를 다시 list()를 이용해 리스트 형태로 변환할 수 있습니다.

In [ ]:
# filter(조건 함수, 리스트 또는 튜플)
list(filter(lambda x : x > 50, range(100)))

# zip
* zip() 함수는 여러 개의 순회 할 수 있는 객체의 요소를 묶어서 반환합니다. 다만 메모리의 효율을 위해 형변환이나 직접 순회를 하기 전까지는 메모리 주소로만 반환합니다.

In [21]:
#zip(순회할 수 있는 객체1, 순회할 수 있는 객체2...)
list(zip('ab', '12')) # 출력: [('a', '1'), ('b', '2')]

[('a', '1'), ('b', '2')]

In [22]:
list(zip('ab', '12', [10, 20])) # 출력: [('a', '1', 10), ('b', '2', 20)]

[('a', '1', 10), ('b', '2', 20)]

In [23]:
list(zip('abc', '1234567', [10, 20, 30]))
# 출력 : [('a', '1', 10), ('b', '2', 20), ('c', '3', 30)]

[('a', '1', 10), ('b', '2', 20), ('c', '3', 30)]

# enumerate
* enumerate 함수는 반복할 수 있는 객체의 인덱스와 값을 함께 반환하며 주로 반복문에서 사용합니다. 해당 예제에서는 리스트를 enumerate 함수에 전달하여 인덱스와 값을 함께 얻습니다. 추가로, enumerate 함수의 두 번째 인자를 통해 시작 인덱스를 지정할 수 있습니다. 이를 활용하여 반복문 내에서 인덱스와 값에 동시에 접근하는 것이 가능합니다.

In [25]:
# index를 자동으로 생성할 때 자주 사용
values = ['A', 'B', 'C', 'D']
print(list(enumerate(values)))
print(list(enumerate(values, 1)))
print(list(enumerate(values, 100)))

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]
[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]
[(100, 'A'), (101, 'B'), (102, 'C'), (103, 'D')]

# sorted
* sorted 함수는 시퀀스를 정렬하여 새로운 리스트를 반환합니다. reverse 및 key 아규먼트를 전달하여 정렬 방법을 사용자가 원하는 대로 변경할 수 있습니다.

In [26]:
sorted([1, 2, 100, 200, 3, 4, 10, 20])
# 출력 : [1, 2, 3, 4, 10, 20, 100, 200]

[1, 2, 3, 4, 10, 20, 100, 200]

In [27]:
sorted(['hello', 'l', 'hllo', 'hel', 'heo', 'a'], key=len)
# 출력 : ['l', 'a', 'hel', 'heo', 'hllo', 'hello']

['l', 'a', 'hel', 'heo', 'hllo', 'hello']

In [28]:
sorted(['21', '21', '12', '22', '53', '15'], key=lambda x:x[-1])
# 출력 : ['21', '21', '12', '22', '53', '15']

['21', '21', '12', '22', '53', '15']

sorted와 reversed는 원본을 수정하지 않습니다.

In [29]:
list(reversed('hello world'))
list(reversed([1, 2, 3, 10, 5, 4])) # 역 정렬 아닙니다! 역순입니다.
list(reversed(sorted([1, 2, 3, 10, 5, 4])))

[10, 5, 4, 3, 2, 1]