In [1]:
# 1. 다음 코드를 실행하면 출력되는 값을 순서대로 작성해보세요.
a = 'pithon'

def 함수1():
    def 함수2():
        print('love')

    print('I')
    함수2()
    return "python"


a = 함수1()
print(a)

I
love
python

In [2]:
# 2. 함수를 이용하여 계산기 프로그램을 만들어주세요.
def plus(num1, num2):
	return num1 + num2

def minus(num1, num2):
	return num1 - num2

def multiply(num1, num2):
	return num1 * num2

def divide(num1, num2):
	return num1 / num2

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

plus : 15
minus : 5
multiply : 50
divide : 2.0

In [6]:
# 3. 2번의 해답을 이용하여 a와 b를 더한 값과 a와 b를 뺀 값을 곱하는 함수를 만들어주세요.
# 아래와 같은 값이 있다면 (2 + 3) * (2 - 3) = -5가 출력이 되어야 합니다.
a = 2
b = 3

def calc(num1, num2):
	return (num1 + num2) * (num1 - num2)

calc(a, b)

-5

In [ ]:
# 4. x의 n제곱을 구하는 함수를 만들어주세요.
# 재귀함수를 이용하여 만들어야하며, x은 0이 아닙니다. (x, n > 1)
def square(x, n):
    if n == 1:
        return x
    return x * square(x, n-1)

square(2, 3)

In [30]:
# 5. 이 데이터에서 licat을 출력해주세요. 단, 직접 접근은 안됩니다. data[1]로 접근하는 것은 안됩니다.
data = [['weniv CTO binky', 2], ['weniv CEO licat', 1], ['weniv COO mura', 2]]

filtered_data = list(filter(lambda x: 'licat' in x[0], data))   # [['weniv CEO licat', 1]]
print(filtered_data[0][0].split()[-1])

[['weniv CEO licat', 1]]
licat

In [32]:
# 6. 다음 함수 is_palindrome를 완성하시오.
# 이 함수는 하나의 문자열을 인자로 받아, 해당 문자열이 앞으로 읽으나 뒤로 읽으나 같은 단어이면 True를, 아니면 False를 반환해야 합니다.
def is_palindrome(s):
    if s == s[::-1]:
        return True
    return False

is_palindrome("hhe")

False

In [37]:
# 7. 리스트 numbers가 주어졌을 때, 이 리스트 내의 모든 짝수를 제거하는 코드를 작성하시오.
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers = list(filter(lambda x:x%2==1,numbers))
print(numbers)  # 결과: [3, 5, 7, 9]

[3, 5, 7, 9]

In [38]:
# sorted의 유연성
data = [
    [2, 'hello world', 30],
    [3, 'hworl', 33],
    [5, 'hello wo', 35],
    [4, 'hello w', 31],
    [6, 'hello w', 39]
]

# 1번째 문제: 첫 번째 요소의 값을 정렬하세요.
sorted(data)

# 2번째 문제: 두 번째 요소의 문자열 길이를 기준으로 정렬하세요.
sorted(data, key=lambda x:len(x[1]))
# sorted([11, 5, 7, 8, 7])를 정렬하는 것과 같습니다. 다만 숫자 값으로 반환하는 것이 아니라 object로 반환하죠.'

# 3번째 문제: 세 번째 요소 기준으로 정렬하세요.
sorted(data, key=lambda x:x[2])

# 4번째 문제: 첫번째 요소와 세 번째 요소의 차가 큰 순으로 출력해주세요.
# 예를 들어 [2, 'hello world', 30]의 경우 30 - 2 == 28입니다. 이런 차 순서대로 출력하시면 됩니다.
sorted(data, key=lambda x:x[0]-x[2])
sorted(data, key=lambda x:x[2]-x[0], reverse=True)

[[6, 'hello w', 39],
 [3, 'hworl', 33],
 [5, 'hello wo', 35],
 [2, 'hello world', 30],
 [4, 'hello w', 31]]

In [40]:
# range 타입이 생긴 이유
type(print) # 출력: builtin_function_or_method
type(max) # 출력: builtin_function_or_method
type(len) # 출력: builtin_function_or_method
type(enumerate) # 출력: type
type(range) # 출력: type
type(zip) # 출력: type
type(map) # 출력: type
type(filter) # 출력: type
type(int) # 출력: type
type(str) # 출력: type

type

In [ ]:
# range(start, stop, step) # 슬라이싱과 비슷한 형태를 지니고 있습니다.
print(range(10)) # 값을 가지고 있지 않습니다.
print(list(range(10)))
x = range(10)
print(type(x))
print(list(range(0, 10, 2)))
print(list(range(10, 0, -2)))
# print(list(range(10, 0, 2.1))) # error, numpy 모듈 사용하면 가능합니다.
# print(list(range(10.1, 2.0, 2))) # error, numpy 모듈 사용하면 가능합니다.
print(list(range(0, 10, -2)))

In [ ]:
# 2.x에서 range와 그 외 값들에 대한 히스토리
# print(range(10)) # 출력: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# 메모리를 모두 차지해야 합니다.

# print(range(100000000000000000000000000000000000000))
# 메모리의 효율이 극도로 안좋아짐

# 그런데 3.x에서 range(10000000000000000000000000000)는 메모리 효율이 안좋나요?
# 시작과, 끝, 스텝값만 가지고 있기 때문에 메모리 낭비가 전혀 없습니다.

# 2.x에서도 3.x와 같은 range타입이 있었습니다. xrange문법입니다. xrange문법이 3.x되면서 range가 된겁니다.
# 2.x에서 사용가능 문법
# print(xrange(10)) # 출력: xrange(10)
# for i in xrange(10): # 출력: 순회 가능
#     print(i)

# 실전문제
#'숫자' 배열을 '승수' 배열과 짝지어서 승수만큼 제곱을 시켜줄 것 입니다.

In [ ]:
숫자 = [1, 2, 3, 4, 5]
승수 = [2, 2, 2, 3, 3]

#문제
#1. 숫자의 승수를 zip으로 맵핑해서 진행하세요.
#2. 숫자를 승수만큼 제곱하여 결과값을 표현해주세요.
#3. 승수한 값이 100이상인 값을 출력하세요.
#4. 승수한 값을 모두 더하세요.

In [ ]:
# 결과값은 다음과 같아야 합니다.
# 1. 숫자의 승수를 zip으로 맵핑해서 진행하세요.
[(1, 2), (2, 2), (3, 2), (4, 3), (5, 3)]

# 2. 숫자를 승수만큼 제곱하여 결과값을 표현해주세요.
[1, 4, 9, 64, 125]

# 3. 승수한 값이 100이상인 값을 출력하세요.
[125]

# 4. 승수한 값을 모두 더하세요
203

In [48]:
# 정답
숫자 = [1, 2, 3, 4, 5]
승수 = [2, 2, 2, 3, 3]

# 1
zip_list = list(zip(숫자, 승수))    # [(1, 2), (2, 2), (3, 2), (4, 3), (5, 3)]

# 2
squared_list = list(map(lambda x : x[0]**x[1], zip_list))    # [1, 4, 9, 64, 125]

# 3
filtered_list = list(filter(lambda x : x >= 100, squared_list)) # [125]

# 4
sum(squared_list)

203