# 파이썬 버전별 변경 사항

* Python 3.5: async await
* Python 3.6: Dict에 순서, f-string, 타입힌트
* Python 3.7: dataclasses
* Python 3.8: 왈러스 연산자(:=)
* Python 3.9: 딕셔너리 결합 연산자(|)
* Python 3.10: match

In [ ]:
# id, name, email이 각각 3번씩 반복
# -> 이러한 현상을  보일러 플레이트(boiler-plate)라 함
# -> print를 해도 필드값이 보이지 않아 불편
class User:
    def __init__(self, id, name, email):
        self.id = id
        self.name = name
        self.email = email

In [ ]:
# 실무에서 사용하는 사례를 못봄
# 정말 좋은 기능인데 복습 x..

from dataclasses import dataclass

@dataclass
class User:
    id: int
    name: str
    email : str

user = User(123, 'hojun', 'hojun@gmail')
user

# 파일 입출력

In [ ]:
# open(파일이름, 파일모드)
f = open('python.txt', 'w') # 파일모드 : r, w, a, r+,
f.close()

In [ ]:
# 파일은 열었으면 꼭 닫을 것
# 닫지 않으면 메모리가 살아있음!!
f = open('python.txt', 'w') # 파일모드 : r, w, a, r+,
f.write('hello world')
f.close()

In [ ]:
# close()를 깜빡하기 때문에 위의 문법보단 이렇게
with open('test.txt', 'w') as f:
    f.write('hello world!')

In [ ]:
for i in range(10):
    with open(f'test{i}.txt', 'w') as f:
        f.write('hello world!')

In [ ]:
db_data = [
  {
    "_id": "7f5440ab-7e2f-4a42-Be13-89987fa65b32",
    "index": "1",
    "name": "등윤상",
    "email": "user-qe89s09@ut.io",
    "phone": "010-3542-7711",
    "country": "키리바시",
    "address": "방학로 74-9",
    "job": "일러스트레이터"
  },
  {
    "_id": "b4f7ade0-38bb-4e6f-B94a-18af1426eb30",
    "index": "2",
    "name": "노동규",
    "email": "user-nyr5mqw@ornare.com",
    "phone": "010-9743-6320",
    "country": "베냉",
    "address": "남부순환로 54-6",
    "job": "애완동물미용사"
  },
  {
    "_id": "5d788255-8d5e-4f03-B446-dbac6a147e37",
    "index": "3",
    "name": "경진아",
    "email": "user-n7pey4v@Etiam.biz",
    "phone": "010-4049-8718",
    "country": "아르메니아",
    "address": "강남대로 87-5",
    "job": "플로리스트"
  },
  {
    "_id": "083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79",
    "index": "4",
    "name": "복소유",
    "email": "user-ohaz2is@nibh.biz",
    "phone": "010-3400-5945",
    "country": "페루",
    "address": "양산로 78-1",
    "job": "응급구조사"
  },
  {
    "_id": "d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a",
    "index": "5",
    "name": "화예빈",
    "email": "user-mnkpdlp@vel.net",
    "phone": "010-3120-8720",
    "country": "허드 및 맥도널드 제도",
    "address": "한남대로 6-2",
    "job": "전문의사"
  }
]

In [ ]:
# 미션 1
# 각각의 회원 이름_info.txt로 각각 정보 정리

# 미션 2
# 엑셀로 각각 정보 정리

# 미션 3
# html로 table로 정리하기 => table 클릭하면 정렬되게 하기(JS를 배우셨으면 했을텐데ㅜㅜ 나중에 해보세요.)

In [ ]:
# 미션 1
# 각각의 회원 이름_info.txt로 각각 정보 정리
list(map(lambda x: x['name'], db_data))

for i, name in enumerate(map(lambda x: x['name'], db_data)):
    with open(f'{name}_info.txt', 'w') as f:
        f.write(str(db_data[i]))

In [ ]:
# 미션 2
# 엑셀로 각각 정보 정리
# "_id": "d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a",
# "index": "5",
# "name": "화예빈",
# "email": "user-mnkpdlp@vel.net",
# "phone": "010-3120-8720",
# "country": "허드 및 맥도널드 제도",
# "address": "한남대로 6-2",
# "job": "전문의사"
with open('data.csv', 'w') as f:
    s = '아이디,인덱스,이름,이메일,휴대폰,나라,주소,직업\n'
    for i in db_data:
        s += f'{i["_id"]},{i["index"]},{i["name"]},{i["email"]},{i["phone"]},{i["country"]},{i["address"]},{i["job"]}\n'
    f.write(s)

In [ ]:
# 부록
# 엑셀라이터
# 복습x

In [ ]:
!pip install xlsxwriter

In [ ]:
# 워크북(엑셀파일 1개)
# 워크시트(sheet라고 아래 여러개의 sheet을 만들 수 있음)
# 셀(네모 칸 하나)

In [ ]:
import xlsxwriter

workbook = xlsxwriter.Workbook('hello.xlsx')
worksheet = workbook.add_worksheet('test')

worksheet.write('A1', 'A')
worksheet.write('B1', 'B')
worksheet.write('C1', 'C')
worksheet.write('A2', 'D')
worksheet.write('B2', 'E')
worksheet.write('C2', 'F')

workbook.close()

In [ ]:
import xlsxwriter

workbook = xlsxwriter.Workbook('hello.xlsx')
worksheet = workbook.add_worksheet('test')

worksheet.write('A1', 'A')
worksheet.write('B1', 'B')
worksheet.write('C1', 'C')
worksheet.write('A2', 'D')
worksheet.write('B2', 'E')
worksheet.write('C2', 'F')

worksheet.write(2, 0, 'hello')
worksheet.write(2, 1, 'world')
worksheet.write(2, 2, 'hojun')

workbook.close()

In [ ]:
import xlsxwriter

workbook = xlsxwriter.Workbook('hello.xlsx')
worksheet = workbook.add_worksheet('test')

철수 = [10, 20, 30]
영희 = [40, 50, 60]

worksheet.write('A1', '국')
worksheet.write('B1', '영')
worksheet.write('C1', '수')
worksheet.write('A2', 철수[0])
worksheet.write('B2', 철수[1])
worksheet.write('C2', 철수[2])
worksheet.write('A3', 영희[0])
worksheet.write('B3', 영희[1])
worksheet.write('C3', 영희[2])

for i in zip('ABC', 철수, 영희):
    worksheet.write(f'{i[0]}4', i[1] + i[2])

workbook.close()

In [ ]:
for i in zip('ABC', 철수, 영희):
    print(f'{i[0]}4', i[1] + i[2])

A4 50
B4 70
C4 90

In [ ]:
import xlsxwriter

workbook = xlsxwriter.Workbook('hello.xlsx')
worksheet = workbook.add_worksheet('test')

철수 = [10, 20, 30]
영희 = [40, 50, 60]

worksheet.write('A1', '국')
worksheet.write('B1', '영')
worksheet.write('C1', '수')
worksheet.write('A2', 철수[0])
worksheet.write('B2', 철수[1])
worksheet.write('C2', 철수[2])
worksheet.write('A3', 영희[0])
worksheet.write('B3', 영희[1])
worksheet.write('C3', 영희[2])

for i in zip('ABC', 철수, 영희):
    worksheet.write(f'{i[0]}4', i[1] + i[2])

# D1에 평균 텍스트 삽입
worksheet.write('D1', '평균')
# 수식 삽입
worksheet.write('D2', '=SUM(A2:C2)/3')
worksheet.write('D3', '=SUM(A3:C3)/3')

workbook.close()

In [ ]:
# 크롤링
# 웹크롤링 -> 엑셀
# 한글파일 크롤링 -> 엑셀
# PDF 크롤링 -> 엑셀

# 파일 형식 변환
# CSV => xlsx
# JSON => xlsx

# 매크로
# 매크로 작동 로직 => 엑셀

In [ ]:
# 미션 3
# html로 table로 정리하기
db_data = [
  {
    "_id": "7f5440ab-7e2f-4a42-Be13-89987fa65b32",
    "index": "1",
    "name": "등윤상",
    "email": "user-qe89s09@ut.io",
    "phone": "010-3542-7711",
    "country": "키리바시",
    "address": "방학로 74-9",
    "job": "일러스트레이터"
  },
  {
    "_id": "b4f7ade0-38bb-4e6f-B94a-18af1426eb30",
    "index": "2",
    "name": "노동규",
    "email": "user-nyr5mqw@ornare.com",
    "phone": "010-9743-6320",
    "country": "베냉",
    "address": "남부순환로 54-6",
    "job": "애완동물미용사"
  },
  {
    "_id": "5d788255-8d5e-4f03-B446-dbac6a147e37",
    "index": "3",
    "name": "경진아",
    "email": "user-n7pey4v@Etiam.biz",
    "phone": "010-4049-8718",
    "country": "아르메니아",
    "address": "강남대로 87-5",
    "job": "플로리스트"
  },
  {
    "_id": "083efce4-17ed-4e9f-Ad7c-f9aa0ac6cb79",
    "index": "4",
    "name": "복소유",
    "email": "user-ohaz2is@nibh.biz",
    "phone": "010-3400-5945",
    "country": "페루",
    "address": "양산로 78-1",
    "job": "응급구조사"
  },
  {
    "_id": "d54ce0fa-c025-4af6-Cd9a-b9d10aa8be5a",
    "index": "5",
    "name": "화예빈",
    "email": "user-mnkpdlp@vel.net",
    "phone": "010-3120-8720",
    "country": "허드 및 맥도널드 제도",
    "address": "한남대로 6-2",
    "job": "전문의사"
  }
]

In [ ]:
s = '''
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }
    tr, td, th {
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <th>아이디</th>
        <th>인덱스</th>
        <th>이름</th>
        <th>이메일</th>
        <th>휴대폰</th>
        <th>나라</th>
        <th>주소</th>
        <th>직업</th>
    </tr>
    <tr>
        <td>hojun</td>
        <td>hojun</td>
        <td>hojun</td>
        <td>hojun</td>
        <td>hojun</td>
        <td>hojun</td>
        <td>hojun</td>
        <td>hojun</td>
    </tr>
</table>
'''

In [ ]:
s = '''
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }
    tr, td, th {
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <th>아이디</th>
        <th>인덱스</th>
        <th>이름</th>
        <th>이메일</th>
        <th>휴대폰</th>
        <th>나라</th>
        <th>주소</th>
        <th>직업</th>
    </tr>
'''
s += f'''
<tr>
        <td>{db_data[0]["_id"]}</td>
        <td>{db_data[0]["index"]}</td>
        <td>{db_data[0]["name"]}</td>
        <td>{db_data[0]["email"]}</td>
        <td>{db_data[0]["phone"]}</td>
        <td>{db_data[0]["country"]}</td>
        <td>{db_data[0]["address"]}</td>
        <td>{db_data[0]["job"]}</td>
    </tr>
</table>'''
s

In [ ]:
s = '''
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid black;
    }
    tr, td, th {
        border: 1px solid black;
    }
</style>
<table>
    <tr>
        <th>아이디</th>
        <th>인덱스</th>
        <th>이름</th>
        <th>이메일</th>
        <th>휴대폰</th>
        <th>나라</th>
        <th>주소</th>
        <th>직업</th>
    </tr>
'''

for item in db_data:
    s += f'''
        <tr>
                <td>{item["_id"]}</td>
                <td>{item["index"]}</td>
                <td>{item["name"]}</td>
                <td>{item["email"]}</td>
                <td>{item["phone"]}</td>
                <td>{item["country"]}</td>
                <td>{item["address"]}</td>
                <td>{item["job"]}</td>
        </tr>
        '''

s += '</table>'

with open('test.html', 'w') as f:
    f.write(s)

In [ ]:
# 1. 제가 권하는 복습 방법: algo문제 푸는 것(프로그래머스(Lv0), 100pyalgo(Lv0 ~ 2))
# 2. 이론을 복습하길 원하시는 분: 인프런 영상 드린 파이썬 부트캠프 (타이핑 치지 않고 1번, 타이핑 치고 1번)

In [ ]:
f = open('test.html', 'r')
data = f.read()
print(data)
f.close()

# 비트연산

In [ ]:
# 실무에서 비트연산을 하는 경우가 거의 없다.
# 알고리즘 테스트에서 CS지식 정도를 테스트 하는 용도로 간혹 출제가 된다.
# 진법: 수학 기초 상식

# 10진법
# 1542 == 1 * (10**3) + 5 * (10**2) + 4 * (10**1) + 2 * (10**0)
# 0123456789 10

# 16진법
# 1542 == 1 * (16**3) + 5 * (16**2) + 4 * (16**1) + 2 * (16**0)
# 0123456789abcdef 10

# 8진법
# 1542 == 1 * (8**3) + 5 * (8**2) + 4 * (8**1) + 2 * (8**0)
# 01234567 10

# 01 10

In [ ]:
# 진법 변환 팁
# 10진 == 2진
# 1 == 1
# 2 == 10
# 4 == 100
# 8 == 1000
# 16 == 10000
# 32 == 100000

# 9는? 8 = 1 => 1000 + 1 => 1001
# 15는? 16 - 1 => 10000 - 1 => 1111

In [ ]:
# 3 & 9
# and연산은 곱하기

# 0011
# 1001
# ----
# 0001

In [ ]:
# 3 | 9
# or연산은 더하기

# 0011
# 1001
# ----
# 1011 => 11

In [ ]:
# 복습 xxx
# 8개의 비트(bit)를 숫자로 사용할 수 있다.
# 8개 비트 사용하면 1개를 부호 비트
# 00000000
# 00000001 == 1
# 11111110 == -1
# 11111111 + 1 => 00000000(우리가 원하는 값)

In [ ]:
bin(31) # 2진법 변환  '0b11111'
oct(31) # 8진법 변환  '0o37'
hex(31) # 16진법 변환 '0x1f'

int('0b11111', 2) # 2진수를 10진수로 변환
int('11111', 2) # 2진수를 10진수로 변환

# f-string

In [ ]:
# print에 들어가는 문자열 만들기

name = '이호준'
age = 10

'제 이름은 %s이고 제 나이는 %d입니다.'%(name, age) # % 용법
'제 이름은 {}이고 제 나이는 {}입니다'.format(name, age) # format 용법(이 문법도 아직 많이 사용한다.)
f'제 이름은 {name}이고 제 나이는 {age}입니다' # f-string 용법(권고)

In [ ]:
# print문안에 수식을 많이 넣지 말자. 되도록 밖으로 빼자

In [ ]:
삼 = '짝'*3
칠 = '짝'*7
print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format(삼,칠))
print(f'삼삼칠 박수 :  {삼}!!! {삼}!!! {칠}!!! ')

삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!
삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!

In [ ]:
one_length = 5.343123123

print(f'{one_length} 입니다.')
print(f'{one_length:.1f} 입니다.')

5.343123123 입니다.
5.3 입니다.

In [ ]:
one_length = 5.343123123

print(f'{one_length} 입니다.')
print(f'{one_length:.1f} 입니다.')
print('{0:.2f}'.format(one_length))
print('{:.2f}'.format(one_length))

In [ ]:
# log 출력할 때 가운데 정렬(^)은 많이 사용
# 복습은 가운데 정렬만!
age = 100
print('당신의 나이는 [{:^15}]세'.format(22))
print(f'당신의 나이는 [{age:^15}]세')
print(f'당신의 나이는 [{age:>15}]세')
print(f'당신의 나이는 [{age:=^15}]세')

당신의 나이는 [      22       ]세
당신의 나이는 [      100      ]세
당신의 나이는 [            100]세
당신의 나이는 [======100======]세

In [ ]:
# 출력에 중괄호를 넣고싶다면 중괄호 2개
print(f"My set is {{1, 2, 3}}.")  # 출력: My set is {1, 2, 3}.

My set is {1, 2, 3}.

In [ ]:
# 중괄호 3개를 사용하면 변수까지 출력할 수 있다.
x = 10
print(f"My set is {{{x}}}.")  # 출력: My set is {10}.
print(f"My set is {{{{x}}}}.")

My set is {10}.
My set is {{x}}.

# 컴프리헨션

In [ ]:
even_squares_set = {x**2 for x in range(10) if x % 2 == 0}
even_squares_set

{0, 4, 16, 36, 64}

In [ ]:
# 리스트 컴프리헨션은 c로 구현되어 있어 for문만 쓰는거보다 훨씬 빠르다
even_squares_gen = [x**2 for x in range(10) if x % 2 == 0]
even_squares_gen

[0, 4, 16, 36, 64]

# 동기, 비동기

## 동기 프로그래밍 : 순차적으로 실행

![이미지](https://paullabworkspace.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F873d5d16-a7bd-4bf4-ba95-cfd17d3b040a%2Fcoffee.png?table=block&id=6c50bc3c-6f8d-49c4-9b8f-a12f49b6ba4f&spaceId=579fe283-28aa-489d-ae65-d683304becfc&width=1150&userId=&cache=v2)

위의 예제에서 볼 수 있듯이 손님1을 처리하고, 손님2를 처리하고 손님3을 처리하는 것을 말한다.

즉, 특정 작업이 완료될 때까지 프로그램이 기다리는 방식

In [ ]:
import time

def job(number):
    print(f"Job {number} started")
    time.sleep(1)  # 매우 오래 걸리는 작업, 일반 sleep은 CPU를 쉬게 합니다.
    print(f"Job {number} completed")

job(1)
job(2)
job(3)

Job 1 started
Job 1 completed
Job 2 started
Job 2 completed
Job 3 started
Job 3 completed

## 비동기 프로그래밍

동시에 여러 작업을 진행할 수 있다. 이때, 이벤트 루프와 콜백 함수 등을 활용하여 작업을 관리한다.

코랩에서는 안됨!

파이썬에서 비동기가 가능하다 정도로만 보고 넘어가도 된다고 했다.

In [ ]:
!pip install nest_asyncio

Requirement already satisfied: nest_asyncio in /usr/local/lib/python3.10/dist-packages (1.5.8)

In [ ]:
# 기본 코드
import asyncio

async def job(number):
    print(f"Job {number} started")
    await asyncio.sleep(1)  # 매우 오래 걸리는 작업, cpu를 쉬게 하는 역할
    print(f"Job {number} completed")

asyncio.run(job(1))
asyncio.run(job(2))
asyncio.run(job(3))

In [ ]:
# colab에서 작동하는 코드
# 기본 base는 colab에서 작동하지 않음
import asyncio

async def job(number):
    print(f"Job {number} started")
    await asyncio.sleep(1) # 매우 오래 걸리는 작업, asyncio.sleep은 비동기 처리를 할 수 있도록 한다.(다른 작업이 가능하도록)
    print(f"Job {number} completed")

async def main():
    await asyncio.gather(job(1), job(2), job(3)) # await asyncio.wait([job(1), job(2), job(3)])

asyncio.run(main())
print('hello world')

함수에 async라는 키워드를 붙이면 비동기 함수(코루틴)가 된다.

In [ ]:
async def job():
    print('job')

print(job) # <function job at 0x7fc8cb38ef80>
job() # <coroutine object job at 0x7fc8cb32bc30>, print('job')이 실행되진 않음

In [ ]:
async def job():
    print('job')

async def main():
    return await job()

print(main) # <coroutine object main at 0x7fc8cb22bf40>
print(await main()) # None

## 정규표현식

In [ ]:
# 별 2개
# 유효성 검증(validator), 문자열 처리, 코딩 테스트(1문제 필수)

In [ ]:
# https://regexr.com/5nvc2
# 1번 일반 문자열 패턴
# hello world
# Hello
# ^hello
# hello$
# ^hello$
# .
# .....
# h[eao]llo
# .[eao]llo
# ^h[eao]llo$
# h[a-zA-Z0-9]llo
# h[a-zA-Z]llo
# 010-[0-9][0-9][0-9][0-9]-[0-9][0-9][0-9][0-9]
# 010.[0-9][0-9][0-9][0-9].[0-9][0-9][0-9][0-9]
# 010[- .][0-9][0-9][0-9][0-9][- .][0-9][0-9][0-9][0-9]
# [^a-zA-Z0-9]: 나머지 문자열을 찾음 # ^는 대괄호 안에서는 '부정'
# _* : 앞에 있는 문자가 0개 ~ N개
# _+ : 앞에 있는 문자가 1개 ~ N개
# _? : 앞에 있는 문자가 0개 ~ 1개
# 010[- .]?[0-9][0-9][0-9][0-9][- .]?[0-9][0-9][0-9][0-9]

# {3} : 3개
# {3,} : 3개 이상
# {1,3} : 1개 ~ 3개
# 010[- .]?[0-9]{4}[- .]?[0-9]{4}

# _* : 앞에 있는 문자가 0개 ~ N개 ({0,})
# _+ : 앞에 있는 문자가 1개 ~ N개({1,})
# _? : 앞에 있는 문자가 0개 ~ 1개 ({0,1})

# /[0-9]{3}[-.* ][0-9]{4}[-.* ][0-9]{4}/gm

# 전화번호
# /[0-9a-zA-Z]{2,3}[-.* ][0-9]{3,4}[-.* ][0-9]{4}/gm
# /[0-9]{2,3}[-.* ][0-9]{3,4}[-.* ][0-9]{4}/gm

# 이메일
# /[0-9a-zA-Z]+@[0-9a-zA-Z]+.[a-zA-Z]+/gm
# ^[a-zA-Z0-9+-_.]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$
# .....@----....


# /\w/gm : 워드 # 많이 사용
# /\w{5} /gm : 5개의 글자와 스페이스 하나
# /\W/gm : not 워드 # 많이 사용
# /\d/gm : 숫자 # 많이 사용
# /\D/gm : not 숫자
# /\s/gm : 스페이스
# /\S/gm : not 스페이스

# ^\d{3}[- .]?\d{3,4}[- .]?\d{4}$

# /\[.*]/gm : 대괄호([]) 안에 감싸여진 문자열
# /\(.*\)/gm : 소괄호 안에 감싸여진 문자열
# /\\.*\//gm : 이미 사용되고 있는 특수문자로 감싸여진 문자열
# /-.*-/gm : 이스케이프 문자를 사용할 필요가 없는 경우
# /\^\^/gm : 이스케이프 문자가 필요한 경우
# /:\)/gm : 이스케이프 문자가 필요한 경우

# \[.*]
# \[.*\], \[.*\]

In [ ]:
# 사용되는 패턴
# 1
p = re.compile(r'([0-9]|10)([SDT])([\*\#]?)')
p.findall('1S2D*3T')

# 2
re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*3T')

# 자주 사용하는 메서드
# sub() : 매치된 부분을 치환 (str에 replace와 같은 역활)  # 가장 많이 사용
# findall() : 매치된 부분 모두 리스트 반환

## findall

In [ ]:
import re

list(re.findall(r'([0-9]|10)([SDT])([\*\#]?)', '1S2D*3T'))

## sub

In [ ]:
def solution(my_string):
    return my_string.replace('a', '').replace('e', '').replace('i', '').replace('o', '').replace('u', '')

def solution(my_string):
    string = 'aeiou'
    for i in string:
        my_string = my_string.replace(i, '')
    return my_string

In [ ]:
import re

def solution(my_string):
    return re.sub(r"[aeiou]", "", my_string)

In [ ]:
# 복습 X
# dir("nice to meet you")
s = "nice to meet you"
ch = s.maketrans("aeiou", "!!!!!");

print(s.translate(ch));

In [ ]:
# 문제: 아래 문자열에서 모든 문자를 제거하고 숫자만 모두 더해주세요.
'hello1928ljwlie123slie21e1j3'

In [ ]:
import re

def solution(my_string):
    return re.sub(r"[a-zA-Z]", "", my_string)

solution('hello1928ljwlie123slie21e1j3')

'19281232113'

In [ ]:
# 복습 X
import re

def solution(my_string):
    return sum(map(int, list(re.sub(r"[a-zA-Z]", "", my_string))))

solution('hello1928ljwlie123slie21e1j3')

33

In [ ]:
list(re.findall(r'[0-9]', 'hello1928ljwlie123slie21e1j3'))
list(re.findall(r'[0-9]+', 'hello1928ljwlie123slie21e1j3'))

['1928', '123', '21', '1', '3']

In [ ]:
import re

my_string = "aAb1B2cC34oOp"
re.sub('[^1-9]', '', my_string)

'1234'

In [ ]:
# 복습 X
import re

print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'\1!\2!\3', '010-5000-3000'))
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'\1/\2/\3', '010-5000-3000'))
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'[\1][\2][\3]', '010-5000-3000'))
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'[\1]-[\2]-[\3]', '010-5000-3000'))
print(re.sub(r'([0-9]{3})-([0-9]{4})-([0-9]{4})', r'지역번호: \1 전화번호: \2\3', '010-5000-3000'))

In [ ]:
# 복습 XXX
# 시니어 때에는 이런 문법을 사용할 일이 종종 생김
import re

print(re.sub(r'(?P<one>[0-9]{3})-(?P<two>[0-9]{4})-(?P<three>[0-9]{4})', r'\g<one>!!\g<two>!!\g<three>', '010-5000-3000'))

010!!5000!!3000

In [ ]:
import re

text = '''# This is a h1
## This is a h2
### This is a h3
#### This is a h4
##### This is a h5
###### This is a h6

* This is a bulleted list
  * This is a nested bulleted list

**This is bold text**

_This is italic text_

~~This text is strikethrough~~
'''

def markdown_to_html(markdown):
    html = re.sub(r'### (.*)', r'\1', markdown)
    html = re.sub(r'## (.*)', r'\1', html)
    html = re.sub(r'# (.*)', r'\1', html)
    html = re.sub(r'`(.*)`', r'\1', html)
    html = re.sub(r'\*\*(.*)\*\*', r'\1', html)
    html = re.sub(r'_(.*)_', r'\1', html)
    html = re.sub(r'~~(.*)~~', r'\1', html)
    html = re.sub(r'^(>+) (.*)', r'\1\2', html)
    # html = re.sub(r'^\* (.*)', r'\1', html, flags=re.M+re.S)
    return html

print(markdown_to_html(text))

# 연습문제

## 문제 1. 문제: 주어진 문자열에서 모든 이메일 주소를 user@weniv.co.kr으로 변경하시오.(sub사용)

In [ ]:
# 예시 입력: "저의 이메일 주소는 kim123@gmail.com입니다. 친구의 이메일 주소는 lee456@gmail.com입니다."
# 예시 출력: "저의 이메일 주소는 user@weniv.co.kr입니다. 친구의 이메일 주소는 user@weniv.co.kr입니다."

In [6]:
import re

text =  "저의 이메일 주소는 kim123@gmail.com입니다. 친구의 이메일 주소는 lee456@gmail.com입니다."

my_text = re.sub(r'[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}','user@weniv.co.kr', text)
my_text

'저의 이메일 주소는 user@weniv.co.kr입니다. 친구의 이메일 주소는 user@weniv.co.kr입니다.'

## 2. 주어진 HTML 문자열에서 모든 HTML 태그를 제거하고 텍스트만 남기시오.

In [ ]:
# 예시 입력: "<p>이것은 <b>예시</b> 문장입니다.</p>"
# 예시 출력: "이것은 예시 문장입니다."

In [62]:
import re

text = "<p>이것은 <b>예시</b> 문장입니다.</p>"

my_text = re.sub(r'<[^>]+>','', text)
my_text

'이것은 예시 문장입니다.'