# 메서드 체이닝

In [2]:
# 매우 중요!
# 복습 꼭 할 것!
'Hello World'.replace('Hello', 'hi').lower()
# 그 메서드에 리턴된 값이 순차적으로 해소가 되는 방식

# 'hello world'.a().b().c().d()
# 'Hello World'.split().lower() # error
'Hello World'.split()[0].lower()

'hello'

In [3]:
list('hello world')

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [33]:
# 클래스에 지쳤다면 잠시 내려놓아도 됨
class Calculator:
    def __init__(self, value):
        self.value = value

    def add(self, other):
        self.value += other
        return self

    def subtract(self, other):
        self.value -= other
        return self

    def multiply(self, other):
        self.value *= other
        return self

    def get_value(self):
        return self.value

calc = Calculator(1)

result = calc.add(2).subtract(1).multiply(3).get_value()    # multiply까지는 calc를 반환하지만 get_value는 value를 반환하므로 문자형 메서드 못씀
print(result)  # 결과: 6

2

In [ ]:
# int
# float
# complex
a = 3
b = 3.5
c = 3j + 1  # i를 많이 사용하기에 j를 대신 사용함

dir(a)
dir(b)
dir(c)

# a, b, c 세 변수 모두 실수부와 허수부를 메서드로 갖고 있다.=> 복소수와의 계산을 위해서인듯 하다.
# 'imag'    # 허수부
# 'real'    # 실수부

# 일급함수와 고차함수

In [6]:
# 일급 함수는 함수를 값(변수)으로 취급하는 것을 얘기한다.

def greet(name):
    return f'Hello, {name}'

say_hello = greet
print(say_hello("World"))  # 출력: Hello, World

Hello, World

In [7]:
p = print
p('hello')

hello

In [5]:
l = [10, 20, 30]
# l.append(100)
add = l.append
add(10)
add(20)
# 이렇게 사용할 일은 거의 없다.
# 변수가 너무 길 때, 오타가 많이 생기는 변수일 때, 메서드 명도 길때 줄여서 사용하기도 한다!
l

[10, 20, 30, 10, 20]

In [ ]:
# 위와 같은 화살표
a = 10
b = a
c = b

In [ ]:
# 이런식으로 함수명을 변수처럼 사용 가능하다.
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

funcs = [add, subtract]
print(funcs[0](2,3))    # 출력 5

In [ ]:
class Operator:
    def add(self, x, y):
        return x + y

    def sub(self, x, y):
        return x - y

    def mul(self, x, y):
        return x * y

    def div(self, x, y):
        return x / y

    def _and(self, x, y):
        pass

    def _or(self, x, y):
        pass

op = Operator()
logical_op = {
    'add': op.add,
    'sub': op.sub,
    'mul': op.mul,
    'div': op.div,
}
arithmetic_op = {
    '_and': op._and,
    '_or': op._or,
}

print(logical_op['add'](2, 3)) # 출력: 5 마치 op.add(2, 3)인 것 처럼 사용할 수 있다.
print(op.add(2, 3)) # 출력: 5. 위와 동일

for _, f in logical_op.items():
    print(f(2, 3)) # 4칙연산 모두 계산

In [ ]:
# 이렇게 구현한거랑
def add(a, b):
    return a + b

add(2, 3)

In [ ]:
# 우리가 실제 코딩하는 것은 여러 클래스 또는 인스턴스의 조합으로 이루어져 있다.
# Django만 하더라도 대부분의 것들이 class로 구현되어 있다.
# 인스턴스나 클래스에 직접 접근하지 않고 내가 만든 변수로 관리 할 수 있다.

In [ ]:
# 별표 1개 => 데코레이터를 이해하기 위해 중요한 개념

def add(a, b):
    return a + b

def say_hello(name):
    return f'Hello, {name}'

def greet(func, name):
    return func(name)

print(greet(say_hello, 'World'))  # 출력: Hello, World

In [9]:
# 별표 1개 => 데코레이터를 이해하기 위해 중요한 개념

def add(a, b):
    return a + b

def say_hello(name):
    return f'Hello, {name}'

def greet(func):
    return func

print(greet(say_hello)('World'))  # 출력: Hello, World

Hello, World

In [ ]:
# 함수를 리턴할 수 있다! (데코레이터의 핵심 개념)
def create_adder(x):
    def adder(y):
        return x + y
    return adder

add_5 = create_adder(5)
print(add_5(10))  # 출력: 15

In [ ]:
# 밖에서 함수 안에 있는 값을 참조하지 못함
def f():
    x = 10
    y = 20
    return x + y

f()
x   # error

In [15]:
# 안에서는 밖에 있는 값을 참조 가능
one = 100

def f():
    x = one + 10
    y = 20
    return x + y

f()
x

100

In [13]:
# 복습 x
x = 100
def one():
    def two():
        def three():
            print(x)
        three()
    two()

one()

100

In [ ]:
# 함수를 리턴할 수 있다! (데코레이터의 핵심 개념)
# 중요한 개념: x라는 변수가 함수가 끝났는데도 불구하고 살아있다?(add_5가 x를 참조하기에) 클로져!
# 원래 함수 안에서 사용된 변수는 함수가 끝나면 제거됨
def create_adder(x):
    def adder(y):
        return x + y
    return adder

add_5 = create_adder(5)
print(add_5(10))  # 출력: 15

In [17]:
def create_sq(x):
    def sq(y):
        return x ** y
    return sq

제곱2 = create_sq(2)    # x를 변경 불가능하게 감추기 위한 코딩 기법
제곱3 = create_sq(3)
제곱4 = create_sq(4)

제곱2(2), 제곱2(3), 제곱2(4)
제곱3(2), 제곱3(3), 제곱3(4)
제곱4(2), 제곱4(3), 제곱4(4)

4

In [19]:
# 함수에서 여러개의 값 반환
def add_and_subtract(x, y):
    addition = x + y
    subtraction = x - y
    return addition, subtraction

# 함수 호출
result = add_and_subtract(5, 3)

# 결과 출력
print(result)  # 출력: (8, 2)
a, s = result
a
s

(8, 2)

2

# 재귀함수

In [21]:
# 별표 0.3개 ==> 다만 실력이 올라가면 별표 0.8개 까진 올라감
# 내가 나를 호출하는 함수
# 재귀는 내가 정말 재귀에 자신있다가 아니면 반복문을 사용하는 것을 권장
# 재귀를 억지로 사용하려 하지 말 것
# 재귀를 잘못 사용하면 비효율의 끝판왕이 된다.

In [ ]:
def 숫자출력(count):
    if count > 100:
        return
    print(count)
    return 숫자출력(count+1) #값을 1부터 반복횟수 까지의 값을 출력

숫자출력(1)

In [ ]:
# 권장
for i in range(1, 101):
    print(i)

In [22]:
# 이런 코드를 연습해봄으로 재귀에 친숙해질 수 있다.
# 분할 정복, 다이나믹 프로그래밍
# f(5) => 5 * 4 * 3 * 2 * 1 == 120

def f(n):
    if n <= 1:
        return n
    return n * f(n-1)

f(5)

120

In [24]:
# 권장
result = 1
for i in range(1, 6):
    result *= i
result

120

In [ ]:
# 설명
def f(n):
    if n <= 1:
        return n
    return n * f(n-1)

# f(5)        5 * f(4) == 5 * 24 => 120
# f(4)        4 * f(3) == 4 * 6
# f(3)        3 * f(2) == 3 * 2
# f(2)        2 * f(1) == 2 * 1
# f(1)        1

In [26]:
s = ''
for i in 'hello':
    s = i + s
s

# s = 'h' + ''
# s = 'e' + 'h'
# s = 'l' + 'eh'
# s = 'l' + 'leh'
# s = 'o' + 'lleh'

'olleh'

In [27]:
def f(s):
    if len(s) <= 1:
        return s
    return f(s[1:]) + s[0]

f('hello')

# f('hello')      f('ello') + 'h' == 'olleh'
# f('ello')       f('llo') + 'e' == 'olle'
# f('llo')        f('lo') + 'l' == 'oll'
# f('lo')         f('o') + 'l' == 'ol'
# f('o')          'o'

'olleh'

## 연습문제

문제 1: 함수를 인자로 받는 고차함수


주어진 리스트와 함수를 인자로 받아, 리스트의 각 요소에 해당 함수를 적용한 결과를 반환하는 고차함수 apply_function을 작성해주세요.

In [36]:
def apply_function(lst, func):
    return [func(i) for i in lst]

# 예제 사용
result = apply_function([1, 2, 3, 4], lambda x: x * 2)
print(result)  # [2, 4, 6, 8]이 출력되어야 함

[2, 4, 6, 8]

문제 2: 함수를 반환하는 고차함수

정수 n을 인자로 받아, 다른 정수 x에 n을 곱하는 함수를 반환하는 고차함수 multiply_by_n을 작성해주세요. 힌트를 드리자면 반환 값은 lambda여야 합니다.

In [37]:
def multiply_by_n(n):
    return lambda x: x * n

# 예제 사용
multiplier = multiply_by_n(5)
print(multiplier(3))  # 15가 출력되어야 함

15