# 함수의 이름은 변수다

In [7]:
def hello():
    '''
    DocString
    주석은 여기에 답니다
    '''
    pass

In [8]:
print(type(hello))  # 함수도 class입니다?!

<class 'function'>

In [3]:
a = 10
# a는 무엇이죠?
# a는 int에 인스턴스

In [9]:
l = [a, a, a]
l[2]

10

In [ ]:
print("hello world") # build-in function

In [5]:
l = [print, print, print]
l[2]('hello world')

hello world

In [6]:
hojun = print   # 함수 이름은 변수 취급이 가능하다.
hojun('hello world')

hello world

In [10]:
id(hojun), id(print)

(133597653243184, 133597653243184)

In [11]:
print = 10

In [12]:
print

10

In [ ]:
print('hello world')

In [14]:
hojun('hello')

hello

In [ ]:
# 잘못 선언했을 경우.. 세션 다시 시작해야함

In [15]:
print = hojun

In [16]:
id(print)

133597653243184

In [17]:
print('hello world')    # print는 변수 이름일 뿐이다. 실은 코드를 가르키고 있따.

hello world

# lambda의 응용

## Top3 - 1. map에서 사용!

In [ ]:
add = lambda x, y: x+y

In [18]:
# 코드가 이해가 안된다 => 이해할려고 노력하는 것 보다는
# 예제를 30개 정도 만들어 보는것을 권합니다.
# Django 어렵다? 30개 만들어보기
# lambda 어려우면 30개 만들어보세요. 30개가 어려우면 50개
# lambda x: x ** 2
# lambda x, y: x + y ...

# lambda + 3항 연산자 많이 사용합니다.
x = 10
y = True if x % 2 == 0 else False

y

True

In [19]:
# 재사용 할 것이면 이렇게
def 제곱(x):
    return x ** 2

list(map(제곱, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [20]:
# 한줄 삭제하는 명령어 뭐더라?
# shift + del
# 재사용 하지 않을 것이라면 lambda로
# lambda가 실무에서 좀 더 많이 사용한다.
# 수식이 복잡해지면 재사용과 별개로 lambda로 했을 경우 가독성이 떨어지는 경우도 발생합니다.
# 이럴 때에는 함수로 빼기도 합니다.

list(map(lambda x: x**2, [1, 2, 3, 4]))

[1, 4, 9, 16]

In [21]:
list(map(lambda x: True if x % 2 == 0 else False, [1, 2, 3, 4]))    # 마스킹

[False, True, False, True]

In [ ]:
# 알고리즘 문제에서 점과 점사이의 거리 같은 경우
# 처음 True값과 마지막 True 사이의 거리를 구하면 그게 점과 점 사이의 거리가 된다!
# 얼마나 효율적인지만 봐주세요
# [True, False, False, False, True]
# 에라토스테네스의 체(얼마나 마스킹이 유용한지 알 수 있음) => 소수

## Top3 - 2. filter에서 사용!

In [ ]:
# filter는 True 인것만 출력합니다.
list(filter(lambda x:x % 2 == 0, range(100)))

In [ ]:
list(filter(lambda x:x > 3, range(100)))

In [ ]:
list(filter(lambda x:x > 50 and x < 80, range(100)))

In [ ]:
list(filter(lambda x: True if x % 3 == 0 or x % 5 == 0 else False, range(100)))    # 마스킹

In [ ]:
list(filter(lambda x:x % 2, range(100)))    # 홀수를?!
# x == 0일때 => lambda x: x % 2 => 0 => False로 평가
# x == 1일때 => lambda x: x % 2 => 1 => True로 평가
# x == 2일때 => lambda x: x % 2 => 0
# x == 3일때 => lambda x: x % 2 => 1

In [34]:
test = lambda i:i % 2 == 0
[test(i) for i in range(10)]

[True, False, True, False, True, False, True, False, True, False]

## Top3 - 3. sorted에서 사용!

In [31]:
l = [10, 20, 5, 4, 22, 32, 5, 9, 11]
l.sort()    # sort를 자주 사용하지는 않습니다. 원본을 변경시키기 때문에
l

[4, 5, 5, 9, 10, 11, 20, 22, 32]

In [33]:
l = [10, 20, 5, 4, 22, 32, 5, 9, 11]
sorted(l)   # sorted의 return 값이 정렬된 값이죠
ㅣ  # l은 그대로입니다! 그래서 많이 사용

[10, 10, 10]

In [ ]:
sorted() # key, reverse 옵션을 정말 정말 많이 사용합니다!
# 알고리즘 문제에서 단골 문제이고, sorted 문제는 1문제는 거의 출제된다고 보시면 됩니다.
# 연봉 3500선까지는 level2까지만 해도 된다.
# 최댓값
# 최솟값
# https://codingdojang.com/scode/408?answer_mode=hide 이것도 최솟값!
# https://school.programmers.co.kr/learn/courses/30/lessons/120835 이것도 정렬 문제입니다!

In [35]:
# 아래와 같은 형식으로 반별 점수가 주어진다고 하겠습니다.

반별점수 = [
    ['이름', '국어', '영어', '수학'],
    ['이름', '국어', '영어', '수학'],
    ['이름', '국어', '영어', '수학'],
    ['이름', '국어', '영어', '수학'],
]

In [36]:
반별점수 = [
    ['홍길동', 30, 55, 22],
    ['홍춘향', 55, 60, 73],
    ['이철수', 32, 65, 68],
    ['이호준', 92, 11, 95],
]

In [37]:
sorted(반별점수)    # 값이나 0번쨰 값 기준으로 정렬

[['이철수', 32, 65, 68],
 ['이호준', 92, 11, 95],
 ['홍길동', 30, 55, 22],
 ['홍춘향', 55, 60, 73]]

In [39]:
def 함수(x):
    return x[3]

sorted(반별점수, key=함수)  # 가장 중요한 것은 이 key함수의 return 값대로 정렬한다는 것입니다!
# sorted(반별점수, key=lambda x: x[3])

[['홍길동', 30, 55, 22],
 ['이철수', 32, 65, 68],
 ['홍춘향', 55, 60, 73],
 ['이호준', 92, 11, 95]]

In [ ]:
# [['홍길동', 30, 55, 22] => 68,
# ['홍춘향', 55, 60, 73] => 95,
# ['이철수', 32, 65, 68] => 22, # 맨 앞으로 보내야겠네?
# ['이호준', 92, 11, 95]] => 72

In [40]:
# 영어 점수대로 출력해주세요
sorted(반별점수, key=lambda x: x[2])

[['이호준', 92, 11, 95],
 ['홍길동', 30, 55, 22],
 ['홍춘향', 55, 60, 73],
 ['이철수', 32, 65, 68]]

In [42]:
반별점수 = [['홍길동', 30, 55, 22],
 ['이철수', 32, 65, 68],
 ['홍춘향', 55, 60, 73],
 ['이호준', 92, 11, 95]]

# 문제: 국, 영, 수 평균 점수대로 출력해주세요!
# 정답:
sorted(반별점수, key=lambda x: x[1] + x[2] + x[3]) # 나눌 필요 없습니다.
sorted(반별점수, key=lambda x: x[1] + x[2] + x[3], reverse=True)
# 내림차순으로 정렬합니다!
# 평균 점수가 높은게 앞으로 옵니다.

[['이호준', 92, 11, 95],
 ['홍춘향', 55, 60, 73],
 ['이철수', 32, 65, 68],
 ['홍길동', 30, 55, 22]]

In [43]:
# 문제가 살짝 어려워집니다.
# 동점자인 경우 수학점수를 우선순위로 두겠습니다!!!?
반별점수 = [
    ['홍길동', 50, 50, 50],
    ['이철수', 45, 50, 55],
    ['홍춘향', 60, 35, 75],
    ['이호준', 92, 11, 95]
]

sorted(반별점수, key=lambda x: x[1] + x[2] + x[3], reverse=True) # 철수가 수학 점수가 높은데 뒤에 있네요?
# 제 의도는 수학 점수가 높으니 앞에 두겠다는 얘기입니다.

# 1
# sorted(반별점수, key=lambda x: x[1] + x[2] + x[3], reverse=True)
# 반별점수 = [
#     ['홍길동', 50, 50, 50] => 50,
#     ['이철수', 45, 50, 55] => 50,
#     ['홍춘향', 60, 35, 75] => ??,
#     ['이호준', 92, 11, 95] => ??
# ]

# 2
# sorted(반별점수, key=lambda x: (x[1] + x[2] + x[3], x[3]), reverse=True)
# 반별점수 = [
#     ['홍길동', 50, 50, 50] => (50, 50),
#     ['이철수', 45, 50, 55] => (50, 55),
#     ['홍춘향', 60, 35, 75] => ??,
#     ['이호준', 92, 11, 95] => ??
# ]

sorted(반별점수, key=lambda x: (x[1] + x[2] + x[3], x[3]), reverse=True) # 철수랑 길동이 바뀌었습니다!

[['이호준', 92, 11, 95],
 ['홍춘향', 60, 35, 75],
 ['홍길동', 50, 50, 50],
 ['이철수', 45, 50, 55]]

In [47]:
우편번호 = [
    {
        '주소': '경기도 용인시',
        '우편번호': 321
    },
    {
        '주소': '경기도 수원시',
        '우편번호': 355
    },
    {
        '주소': '제주특별자치도 제주시',
        '우편번호': 333
    }
]

# sorted(우편번호) #error, 비교를 할 수 없다!?
sorted(우편번호, key=lambda x: x['우편번호'])

# 우편번호 = [
#     {
#         '주소': '경기도 용인시',
#         '우편번호': 321
#     }, => 321
#     {
#         '주소': '경기도 수원시',
#         '우편번호': 355
#     }, => 355
#     {
#         '주소': '제주특별자치도 제주시',
#         '우편번호': 333
#     } => 333
# ]

[{'주소': '경기도 용인시', '우편번호': 321},
 {'주소': '제주특별자치도 제주시', '우편번호': 333},
 {'주소': '경기도 수원시', '우편번호': 355}]

In [57]:
# 다음 입사문제
# 직선에 있는 점의 좌표입니다.
# 점과 점 사이가 가장 짧은 점의 쌍을 출력하세요

# 입력값 : s = [1, 3, 4, 8, 13, 17, 20]
# 출력값 : (3, 4)

s = [1, 3, 4, 8, 13, 17, 20]
s[1:]

[3, 4, 8, 13, 17, 20]

In [50]:
list(zip(s, s[1:]))

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [58]:
x = list(zip(s, s[1:]))
x

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [62]:
sorted(x, key=lambda x: x[1] - x[0])
# sorted(x, key=lambda x: x[1] - x[0])[0]

[(3, 4), (1, 3), (17, 20), (4, 8), (13, 17), (8, 13)]

In [52]:
# 이해를 하진 말고, 이해 되는 사람만 이해하기
# 강사님이 자주 사용하는 코드

list(zip('hello', 'world'))

[('h', 'w'), ('e', 'o'), ('l', 'r'), ('l', 'l'), ('o', 'd')]

In [53]:
# 자주 사용하는 코드x
list(enumerate(zip('hello', 'world')))

[(0, ('h', 'w')),
 (1, ('e', 'o')),
 (2, ('l', 'r')),
 (3, ('l', 'l')),
 (4, ('o', 'd'))]

In [54]:
# 제너레이터를 만듭니다.
# 문법이 너무 어려워서 지금은 pass
# 강사님이 자주 사용하는 코드

def gen():
    i = 1
    while True:
        yield i
        i += 1

list(zip(gen(), 'hello', 'world'))

[(1, 'h', 'w'), (2, 'e', 'o'), (3, 'l', 'r'), (4, 'l', 'l'), (5, 'o', 'd')]

# built_in function중 자주 사용하는 것

In [63]:
chr(65) # 별표 반개

'A'

In [64]:
ord('A')
# 41인데 왜 65지? -> 16진법
# 4 * 16^1 + 4 * 16^0 = 65

65

In [65]:
sum([10, 20, 30])
sum([10, 20, 30], 100)
sum([[1, 2, 3], [4, 5, 6]], [])

[1, 2, 3, 4, 5, 6]

In [66]:
sum([[1, 2, 3], [4, 5, 6]], [])

# [] + [1, 2, 3] == [1, 2, 3]
# [1, 2, 3] + [4, 5, 6] == [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [ ]:
# 어디까지 이해하고 어디까지 암기해야할까?
# 책 => 이런 내용이 안나온다. 실무에서 빈도가 많은지에 대해 나오지 않습니다.
# 암기해야 할 것들 암기하고, 버릴 것 버리면서 부지런히 가면
# 충분히 4 ~ 5개월 안에 원하는 수준 가능합니다.

In [68]:
a = 10
print(a)    # a.__str__
a   # a.__repr__
repr(a) # a.__repr__

10

'10'

In [78]:
# 실제 Django에서 사용하는 코드

class Notice:
    '''
    게시물 클래스
    '''
    def __init__(self, title, contents):
        self.title = title
        self.contents = contents

    def __str__(self):
        return self.title

    def __repr__(self):
        '''
        repr이라는 값은 제가 임의로 만든 값이 아닙니다!
        정해져 있는 이름입니다.
        '''
        return f'{self.title}, {self.contents}'

    def __len__(self):
        '''
        repr이라는 값은 제가 임의로 만든 값이 아닙니다!
        정해져 있는 이름입니다.
        '''
        # return 100
        return len(self.title + self.contents)

게시물1 = Notice('파이썬 이렇게 어려운줄 몰랐다!', '내가 알던 파이썬이 아니야....')
게시물2 = Notice('Django는 이렇게 재미있을 줄 몰랐다!', '파이썬을 잘 못해서 내가 할 수 있을까 생각이 들었는데...')

len(게시물1)
print(게시물1)  # 파이썬 이렇게 어려운줄 몰랐다!, 로그로 출력할 때
게시물1 # 파이썬 이렇게 어려운줄 몰랐다!, 내가 알던 파이썬이 아니야....
repr(게시물1)   # 그 자료형을 대표하는 문자열 취급

35

In [ ]:
# 현업에서 3.6 이상을 사용하면 참 다행입니다.
# 예를 들어 서비스를 만든지 조금 오래된 'Y기업' 등 다른 기업들은
# Django를 2.x, 1.x
# 실무에 가셨을 때 2.x 어느정도 알고 있어야 한다.
# match같은 문법은 아직 사용 불가. 2~3년 뒤에는 사용할 수 있을것

In [72]:
type(range(10)) # range라는 타입입니다.

range

In [73]:
# 2.x버전
# range(10) => [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# type(range(10)) => <type 'list'>

# 문제: range(10000000000000) => 메모리를 100000000000 갯수만큼 한 번에 생성을 해야합니다.
# 이것을 개선하자는 얘기가 끊임없이 나왔습니다.
# 2.x에서 나온 것이 xrange()입니다. 이것은 특이하게 현재값과 다음값만을 가지고 있어요.
# 메모리 공간은 2칸(실제로는 더 잡아먹습니다.)이 되서 효율적이게 바뀐것입니다.
# 현재값, 다음값

# 3.x에서 range(_)
# class range로 바뀌게 된 것입니다.
# for i in range(1000): # 1000개의 메모리를 할당하는 것이 아닙니다.
#   pass

In [ ]:
list(range(1000))   # 메모리 큰 부하를 줍니다

In [75]:
sum(range(1000))

499500

In [76]:
sum(list(range(1000)))  # 메모리가 1000개 할당 되었다가 더해야 하니 비효율적인 코드입니다.

499500

In [ ]:
values = ['A', 'B', 'C', 'D']
print(list(enumerate(values)))
print(list(enumerate(values, 1))) # 시작값 넣는 것 많이 사용합니다. 기억해두세요.

In [79]:
list(reversed([1, 2, 3, 4, 5]))

[5, 4, 3, 2, 1]

In [80]:
sorted([1, 2, 3, 4, 5])
# 왜 sorted만 일반 자료형으로 주나요?
# reversed나 map이나 이런건 모두 메모리 주소를 가리키는데!?
# 정답: (추후에 심화 과정에서 강의합니다.) 메모리의 효율성 때문입니다.
# sorted만 비효율을 감수하고 사용자가 보기 편한 자료형으로 반환합니다.

[1, 2, 3, 4, 5]

# match

* 3.10버전에서 나온 문법이기에 현업에서 거의 사용 x
* 예를 들어 속도가 매우 빨라야 하는 프로젝트를 하게
되었습니다. 그렇다면 python 최신 버전을 사용할텐데,
그러면 match 문법을 사용할 수는 있습니다. 다만 권고하기
어렵습니다. match 문법이 동료들이 익숙하지 않기 때문입니다.
* 2024년에는 중요도가 별표 0.5개 정도 되고
* 2 ~ 3년 후에는 중요도가 3 ~ 4개 정도로 올라갈 것으로
보입니다.

In [ ]:
# 제가 반대하는 이유
# 타 언어에 비해서 불편한 점
요일 = 3
match 요일:
    case 0:
        print('일요일')
    case 1:
        print('월요일')
    case 2:
        print('화요일')
    case 3:
        print('수요일')
    case 4:
        print('목요일')
    case 5:
        print('금요일')
    case 6:
        print('토요일')

In [ ]:
# 요일 = 4
# match 요일:
#     case 0:
#         print('일요일')
#     case 1:
#         print('월요일')
#     case 2:
#         print('화요일')
#     case 3:   # 다른 언어에서는 이 문법이 가능합니다.
#     case 4:
#         print('목요일')
#     case 5:
#         print('금요일')
#     case 6:
#         print('토요일')

In [81]:
요일 = 100
match 요일:
    case 0:
        print('일요일')
    case 1:
        print('월요일')
    case 2:
        print('화요일')
    case 3:
        print('수요일')
    case 4:
        print('목요일')
    case 5:
        print('금요일')
    case 6:
        print('토요일')
    case _:
        print('요일없음')

요일없음

In [ ]:
text = '1'
match text:
    case '1' | '2':
        print('1, 2')
    case _:
        print('No Match')

In [ ]:
# 여러분들은 오히려 이런 코드보다 아래 코드를 더 많이 만나게 되실겁니다.
def 요일반환(요일):
    return {
        0: '일요일',
        1: '월요일',
        2: '화요일',
        3: '수요일',
    }.get(요일, '요일없음')

요일반환(2)
요일반환(100)

# class

* class 이론을 여러권 + ChatGPT + 유튜브를 보시는 것 보다는
* 여러개를 만들어보세요. ChatGPT에게 여러개의 클래스를
추천받고, ChatGPT에게 짜달라서 해서 그것을 타이핑 해보시는
것도 많은 도움이 될겁니다.
* 결론 : 많은 것을 만들어 보셔야 합니다.

* class 클래스이름 => 인스턴스
* class Post => 게시물1, 게시물2, 게시물3...
* class Dot => 점1, 점2, 점3...
* class Matrix => 행렬1, 행렬2, 행렬3...
* class User => 유저1, 유저2, 유저3...
* class Cart(장바구니) => Cart1, Cart2, Cart3...
* class comment(댓글) => 댓글1, 댓글2, 댓글3
* Character => Licat(주인공), Lion(빌런), Mob1(몬스터)
* class Product => 상품1, 상품2, 상품3...
* class Class_ => 강의1, 강의2, 강의3...
* class Teacher => 강사1, 강사2, 강사3

In [85]:
# 0번: 기초 상식
# 0.0 __init__ 매직메서드는 없어도 되나요?
# 실제로 이런 코드를 짜실 일이 생깁니다.
class 우편번호:
    제주도 = 100
    서울시 = 101
    경기도 = 102
    전라남도 = 103

우편번호.제주도
# 왜 이걸 딕셔너리로 만들지 않고 class로 만들었나요?
# 재사용성 + 확장성

# 0.1 클래스 꼭 사용해야 하나요?
# 일부 자료형에서는 클래스는 꼭 사용해야 합니다.

# 아래와 같이 저장한다고 해서 문제가 생기는가?
# 데이터의 양(속도), 확장성, 다양성, 자료의 형태
# 기본 클래스(list, tuple, dict(속도 개선이 많이 되었음에도), set)는 매우 느립니다.

# 제목: python 기초
# 저자: 이호준

{'제목': 'python 기초', '저자': '이호준'}

# 제목: html 기초
# 저자: 한재현

{'제목': 'html 기초', '저자': '한재현'}

[{'제목': 'python 기초', '저자': '이호준'}, {'제목': 'html 기초', '저자': '한재현'}]

{'제목': 'html 기초', '저자': '한재현'}

In [ ]:
# keep
from datetime import datetime

datetime.now()

## Post

In [100]:
# 1번
# 클래스를 설계하실 때
# 첫 번째로 - 모든 인스턴스에서 공유해야할 변수(클래스 변수)나 메서드 설정
# 두 번째로 - 인스턴스 고유의 영역
# in_crerate_at(스네이크 표기법) - 파이썬 권고사항
# inCreatedAt(카멜 표기법) - 파이썬에서는 잘 사용하지 않습니다.(JavaScript에서는 많이 사용합니다.)
# InCreatedAt(파스칼 표기법) - 파이썬 클래스

class Post:
    def __init__(
            self,
            in_title='',
            in_contents='',
            in_count=0,
            in_crerate_at='',
            in_updated_at='',
            in_author=''
        ):
        self.title = in_title
        self.contents = in_contents
        self.count = in_count
        self.created_at = in_crerate_at
        self.updated_at = in_updated_at
        self.author = in_author

    def __str__(self):
        return self.title

    def __repr__(self): # str 매지메서드를 선언하면 repr도 같이 나오고 일반적으론 동일하게 한다.
        return self.title

    def __add__(self, next):
        # return self.count + next.count  # 게시물 1의 카운트 + 게시물 2의 카운트
        return self.title+next.title

    def __eq__(self, next):
        return self.title == next.title

    def update(self, in_contents):
        '''
        in_ 실무에서 쓰는 접두사가 아닙니다!
        '''
        self.contents = in_contents
        return '게시물 수정에 성공했습니다! 200'    # return값은 print()해야만 출력

게시물1 = Post(
    '파이썬은 참 깊군요!',
    '오늘은 파이썬 클래스를 배웠는데 너무 어렵기도 하고, 신기했습니다.',
    0,
    '2024-01-11',
    '2024-01-11',
    '이호준'
    )

게시물2 = Post('2', '22',0,'2024-01-11','2024-01-11','이호준')

print(게시물1)
print(게시물1.title)
print(게시물1 + 게시물2)    # +연산이 나오면 앞(게시물 1)의 __add__가 실행됩니다.
게시물1.update('hello world')
게시물1.contents

게시물1 == 게시물2  # eq 매직메서드로 정의했기에 title끼리만 비교함

파이썬은 참 깊군요!
파이썬은 참 깊군요!
파이썬은 참 깊군요!2

False

In [98]:
[1, 2, 3] == [1, 2, 3]

True

In [99]:
[1, 2, 3] is [1, 2, 3]

False

In [93]:
l = [10, 20, 30]
len(dir(l))

47

In [96]:
len(dir(게시물2))

36

## Dot

In [104]:
class Dot:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, next):
        return (self.x + next.x, self.y + next.y)

    def __mul__(self, next):
                return (self.x * next.x, self.y * next.y)

    def distance(self, next):
        dx = self.x - next.x
        dy = self.y - next.y
        return (dx**2 + dy**2) ** 0.5   # root는 **0.5로 많이 사용합니다.

dot1 = Dot(20, 10)
dot2 = Dot(30, 5)

dot1 + dot2
dot1.distance(dot2)

11.180339887498949

## Character

In [ ]:
class Character:
    def __init__(self, name, skill, hp, mp, power, x):
        self.name = name
        self.skill = skill
        self.hp = hp
        self.mp = mp
        self.power = power
        self.x = x

    def move(self):
        self.x += 100

    def attack(self, next):
        next.hp -= self.power

주인공1 =