In [ ]:
for 변수명 in 순회_가능한_객체 :
    pass # 수행할_문장

In [2]:
#반복문 기초 - 문자열
#1. 'hello'를 순서대로 하나씩 단어를 꺼내서
#2. x에 하나씩 넣은 다음에
#3. 하나씩 for문 아래 코드블럭을 수행한다.
#4. 그리고 순서가 마쳐지면 -> 다음 시퀀스(순서)로 넘어가서 똑같은 작업을 수행한다.

for x in 'hello': # 순회 가능한 객체가 들어갑니다.
    print(f'현재 값은 {x} 입니다.')

현재 값은 h 입니다.
현재 값은 e 입니다.
현재 값은 l 입니다.
현재 값은 l 입니다.
현재 값은 o 입니다.

In [3]:
for x in (1, 2, 3, 4, 5):
    print(f'현재 값은 {x} 입니다.')

현재 값은 1 입니다.
현재 값은 2 입니다.
현재 값은 3 입니다.
현재 값은 4 입니다.
현재 값은 5 입니다.

In [4]:
s = 'hello world'
for i in s:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [6]:
s = '123'
result = 0
for i in s:
    result += int(i)
result

6

In [7]:
# 아무런 설정을 하지 않으면 딕셔너리에서는 key 값이 나옴
단어_사전 = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for i in 단어_사전:
    print(i)

하나
둘
셋

In [9]:
for key, value in 단어_사전.items():
    print(f'{key} : {value}')

하나 : one
둘 : two
셋 : three

In [8]:
n = 100
result = (n + 1) * n / 2
result

5050.0

In [10]:
result = 0
# 비어있는 자료형도 자료형임. None도 자료형
for i in range(101):    #  0~100까지 시퀀스 자료형을 불러온다.
    if i % 2 == 0:      # 0~100까지 중에서 짝수만 가져옴
        result += i     # 짝수를 가져와 누적으로 더함.
result

2550

In [11]:
result = 0
for i in range(0, 101, 2):
    result += i
result

2550

# 중첩 반복문

In [12]:
for i in [[1, 2], [10, 20], [100, 200]]:
    for j in i:
        print(j)

1
2
10
20
100
200

In [ ]:
# 1. 구조를 정한다.
# 2. 최소한의 반복문만 수행
# 3. 각 반복문을 print()해본다.

In [ ]:
for i in range(2, 10):
    # i는 2부터 시작해서 9까지 반복
    print(f'---{i}단---')   # 1,2,3...9단
    for j in range(1, 10):  # j는 i가 실행될 때마다 반복. 1~9까지 반복
        print(f'{i} X {j} = {i * j}')   # 2x1, 2x2 ... 2x9 ... 9x9까지 출력

# 리스트 컴프리핸션

리스트 컴프리헨션(list comprehension)은 파이썬에서 간결하게 리스트를 생성하는 기능으로, 반복문과 조건문을 결합하여 리스트를 생성합니다.

In [ ]:
# 기본 반복문
x = []

for i in range(1, 10):
  x.append(i)

print(x)

In [17]:
# step1 list안에 for문을 가져옵니다.
[for i in range(1, 10)]

# step2 append 항목을 앞으로 가져옵니다.
a = [i for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]
b = [i*2 for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [18]:
l = [i for i in range(1, 100) if i % 3 == 0 or i % 5 == 0]
print(l)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99]

In [19]:
l = []
for i in range(1, 100):
    if i % 3 == 0 or i % 5 == 0:
        l.append(i)
print(l)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99]

In [22]:
# 리스트 컴프리헨션: 중첩된 반복문
c = [f'{i} × {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)]

# 리스트 컴프리헨션: 중첩된 컴프리헨션
cc = [[f'{i} × {j} = {i*j}' for j in range(1, 10)] for i in range(2, 10)]

# 전통적인 방법
c_list = []
for i in range(2, 10):
    for j in range(1, 10):
        c_list.append(f'{i} × {j} = {i*j}')

In [23]:
# 컴프리헨션 내 함수 사용하기
def sumthingFunction(i):
    if i % 100 ==0:
        return i
    else:
        return 0

l = [100, 200, 300, 101, 202, 303]
l = [sumthingFunction(i) for i in l]
l # 출력: [100, 200, 300, 0, 0, 0]

[100, 200, 300, 0, 0, 0]

In [28]:
# 전통적인 방법
d = {}
for i in range(5):
    d[i] = i**2

# 딕셔너리 컴프리헨션 사용
dd = {i: i**2 for i in range(5)}
print(d)
print(dd)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [29]:
# 복합 순회형 자료 for문

for i, j, k in ['abc', 'def', 'ghi']:
    print(i, j, k)

a b c
d e f
g h i

In [30]:
skill = [
        ('고기잡이', 100),
        ('고기팔기', 120),
        ('낚시', 5),
        ('통발', 5),
        ('큰그물', 5)
]

for i, j in skill:
    print(i, j)

고기잡이 100
고기팔기 120
낚시 5
통발 5
큰그물 5

In [31]:
# 하나만 리스트여도 쌍이면 상관없이 잘 돌아감
skill = [
        ('고기잡이', 100, 'SS'),
        ('고기팔기', 120, 'SSS'),
        ('낚시', 5, 'C'),
        ('통발', 5, 'C'),
        ('큰그물', 5, 'C')
]

for skillName, skillLevel, skillGrade in skill:
    print(skillName, skillLevel, skillGrade)

고기잡이 100 SS
고기팔기 120 SSS
낚시 5 C
통발 5 C
큰그물 5 C

In [32]:
# enumerate
영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i in enumerate(영화누적관객수):
    print(i)

for i, j in enumerate(영화누적관객수, 1):
    print(f'누적관객수 {i}위! {j}!')

(0, '레미제라블')
(1, '뷰티인사이트')
(2, '매트릭스')
(3, '인셉션')
(4, '어거스트 러쉬')
누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티인사이트!
누적관객수 3위! 매트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!

In [33]:
for i, j in enumerate(영화누적관객수, 1):   # 1부터 시작. 기본값은 0
    print(f'누적관객수 {i}위! {j}!')

누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티인사이트!
누적관객수 3위! 매트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!