# 1. 다음 값은 어떤 값이 출력되는지 이유를 설명하세요.
* 1.1 'hello' and 1
* 1.2 10 or 'hello world'

In [1]:
# 1.1 => 1이 출력됨. and 연산자는 두 값이 참(1)인 경우 뒤의 값을 출력함
# 1.2 => 10이 출력됨. or 연산자는 두 값중 하나라도 참인 경우 처음 참값을 반환. 둘다 거짓이면 후자

# 2. 아래 dict에 'three' key를 이용하여 '3'라는 값을 출력해주세요. 없을 경우 애러가 나는 것이 아니라 '3'이라는 값을 출력해야 합니다.
* d = {'one': 1, 'two': 2}

In [4]:
d = {'one': 1, 'two': 2}
d.setdefault('three', '3')
d

{'one': 1, 'two': 2, 'three': '3'}

# 3. 다음 리스트에서 100은 어떻게 꺼낼 수 있나요?
* l = [1, [10, 20], [3, [100, 200], 5]]

In [7]:
l = [1, [10, 20], [3, [100, 200], 5]]
result = l[2][1][0]
# 중간 과정 : [3, [100,200] => [100,200] => 100
result

100

# 4. 아래 숫자를 모두 더해주세요.
* l = [[1, 2], [3, 4]]

In [12]:
l = [[1, 2], [3, 4]]

result = sum(sum(l,[]))
# [[1, 2], [3, 4]] => [1, 2, 3, 4] => 10
result

10

# 5. (난이도 있는 문제) filter를 사용하여 아래 리스트에서 짝수를 모두 더하는 코드를 작성해주세요.
* l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
* 정답 : 30

In [14]:
def even_num(x):
    return x % 2 == 0

l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = list(filter(even_num,l))
# [2, 4, 6, 8, 10]
sum(result)

30